<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{$.Title}} - {{site.Title}}</title>

    {{ $style := resources.Get "css/main.scss" | resources.ToCSS | resources.Minify
    | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" />

    {{ template "_internal/opengraph.html" . }}
  </head>
  {{ partial "nav.html" }}
  <main>
    <h2>
      {{.Title}}
      <small> {{.Date.Format "January 2, 2006"}} by {{.Params.author}} </small>
    </h2>
    {{.Content}}
    <main></main>
  </main>
</html>
